<a href="https://colab.research.google.com/github/lee021/2024-spark/blob/main/movie_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://archive.apache.org/dist/spark/spark-3.5.1/spark-3.5.1-bin-hadoop3.tgz
!tar xf spark-3.5.1-bin-hadoop3.tgz
!pip install -q findspark

In [ ]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.5.1-bin-hadoop3"

In [ ]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()
spark.conf.set("spark.sql.repl.eagerEval.enabled", True) # Property used to format output tables better
spark

In [ ]:
import shutil
import os

# Create directory
os.makedirs('/content/movie_data', exist_ok=True)

# Move uploaded files to the directory
shutil.move('/mnt/data/movie.csv', '/content/movie_data/movie.csv')
shutil.move('/mnt/data/user.csv', '/content/movie_data/user.csv')
shutil.move('/mnt/data/ratings.csv', '/content/movie_data/ratings.csv')
shutil.move('/mnt/data/movie_genres.csv', '/content/movie_data/movie_genres.csv')

'/content/movie_data/movie_genres.csv'

In [ ]:
genreDf = spark.read.csv('movie_data/movie_genres.csv', header=True, sep=",")
genreDf.show(10, truncate=False)
genreDf.printSchema()

+--------+-------+-------+
|mgenreId|movieId|genre  |
+--------+-------+-------+
|1       |267    |unknown|
|2       |1373   |unknown|
|3       |2      |Action |
|4       |4      |Action |
|5       |17     |Action |
|6       |21     |Action |
|7       |22     |Action |
|8       |24     |Action |
|9       |27     |Action |
|10      |28     |Action |
+--------+-------+-------+
only showing top 10 rows

root
 |-- mgenreId: string (nullable = true)
 |-- movieId: string (nullable = true)
 |-- genre: string (nullable = true)

In [ ]:
ratingDf = spark.read.csv('movie_data/ratings.csv', header=True, sep=",")
ratingDf.show(5,truncate=False)
ratingDf.printSchema()

+--------+------+-------+------+----------------+
|ratingId|userId|movieId|rating|timestamp       |
+--------+------+-------+------+----------------+
|1       |196   |242    |3     |1997-12-04 15:55|
|2       |186   |302    |3     |1998-04-04 19:22|
|3       |22    |377    |1     |1997-11-07 7:18 |
|4       |244   |51     |2     |1997-11-27 5:02 |
|5       |166   |346    |1     |1998-02-02 5:33 |
+--------+------+-------+------+----------------+
only showing top 5 rows

root
 |-- ratingId: string (nullable = true)
 |-- userId: string (nullable = true)
 |-- movieId: string (nullable = true)
 |-- rating: string (nullable = true)
 |-- timestamp: string (nullable = true)

In [13]:
movieDf = spark.read.csv('movie_data/movie.csv', header=True, sep=",")
movieDf.show(5,truncate=False)
movieDf.printSchema()

+--------+-----------------+------------+------------------+------------------------------------------------------+
|movie id|movie title      |release date|video release date|IMDb URL                                              |
+--------+-----------------+------------+------------------+------------------------------------------------------+
|1       |Toy Story (1995) |01-Jan-95   |01-Jan-95         |http://us.imdb.com/M/title-exact?Toy%20Story%20(1995) |
|2       |GoldenEye (1995) |01-Jan-95   |01-Jan-95         |http://us.imdb.com/M/title-exact?GoldenEye%20(1995)   |
|3       |Four Rooms (1995)|01-Jan-95   |01-Jan-95         |http://us.imdb.com/M/title-exact?Four%20Rooms%20(1995)|
|4       |Get Shorty (1995)|01-Jan-95   |01-Jan-95         |http://us.imdb.com/M/title-exact?Get%20Shorty%20(1995)|
|5       |Copycat (1995)   |01-Jan-95   |01-Jan-95         |http://us.imdb.com/M/title-exact?Copycat%20(1995)     |
+--------+-----------------+------------+------------------+------------------------------------------------------+
only showing top 5 rows

root
 |-- movie id: string (nullable = true)
 |-- movie title: string (nullable = true)
 |-- release date: string (nullable = true)
 |-- video release date: string (nullable = true)
 |-- IMDb URL: string (nullable = true)