<a href="https://colab.research.google.com/github/so3500/2024-spark/blob/main/PySpark_study_by_ON.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## ddd

Install Dependencies:


1.   Java 8
2.   Apache Spark with hadoop and
3.   Findspark (used to locate the spark in the system)

> If you have issues with spark version, please upgrade to the latest version from [here](https://archive.apache.org/dist/spark/).

In [1]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://archive.apache.org/dist/spark/spark-3.5.1/spark-3.5.1-bin-hadoop3.tgz
!tar xf spark-3.5.1-bin-hadoop3.tgz
!pip install -q findspark

Set Environment Variables:

In [2]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.5.1-bin-hadoop3"

In [3]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()
spark.conf.set("spark.sql.repl.eagerEval.enabled", True) # Property used to format output tables better
spark

Loading Dataset

In [5]:
# Load data from csv to a dataframe.
# header=True means the first row is a header
# sep=';' means the column are seperated using ''
movie_df = spark.read.csv('movie_data/movie.csv', header=True, sep=",")
movie_df.show(5)

ratings_df = spark.read.csv('movie_data/ratings.csv', header=True, sep=",")
ratings_df.show(5)

+--------+-----------------+------------+------------------+--------------------+
|movie id|      movie title|release date|video release date|            IMDb URL|
+--------+-----------------+------------+------------------+--------------------+
|       1| Toy Story (1995)|   01-Jan-95|         01-Jan-95|http://us.imdb.co...|
|       2| GoldenEye (1995)|   01-Jan-95|         01-Jan-95|http://us.imdb.co...|
|       3|Four Rooms (1995)|   01-Jan-95|         01-Jan-95|http://us.imdb.co...|
|       4|Get Shorty (1995)|   01-Jan-95|         01-Jan-95|http://us.imdb.co...|
|       5|   Copycat (1995)|   01-Jan-95|         01-Jan-95|http://us.imdb.co...|
+--------+-----------------+------------+------------------+--------------------+
only showing top 5 rows

+--------+------+-------+------+----------------+
|ratingId|userId|movieId|rating|       timestamp|
+--------+------+-------+------+----------------+
|       1|   196|    242|     3|1997-12-04 15:55|
|       2|   186|    302|     3|1998-04-04 19:22|
|       3|    22|    377|     1| 1997-11-07 7:18|
|       4|   244|     51|     2| 1997-11-27 5:02|
|       5|   166|    346|     1| 1998-02-02 5:33|
+--------+------+-------+------+----------------+
only showing top 5 rows

In [6]:
#movie_df.join(ratings_df, movie_df.movie_id == ratings_df.movieId, 'inner')\
#        .select(movie_df['id'],cars_df['car_name'],car_price_df['car_price'])\
#        .show(truncate=False)

AttributeError: 'DataFrame' object has no attribute 'movie_id'