<a href="https://colab.research.google.com/github/farmJun/2024-spark/blob/main/week2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://archive.apache.org/dist/spark/spark-3.5.1/spark-3.5.1-bin-hadoop3.tgz
!tar xf spark-3.5.1-bin-hadoop3.tgz
!pip install -q findspark

Set Environment Variables:

In [2]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.5.1-bin-hadoop3"

In [3]:
!ls

movie.csv	  ratings.csv  spark-3.5.1-bin-hadoop3	    user.csv
movie_genres.csv  sample_data  spark-3.5.1-bin-hadoop3.tgz

In [4]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()
spark.conf.set("spark.sql.repl.eagerEval.enabled", True) # Property used to format output tables better
spark

In [11]:
movie_df = spark.read.csv('movie.csv', header=True, sep=",")
movie_genres_df = spark.read.csv('movie_genres.csv', header=True, sep=",")
rating_df = spark.read.csv('ratings.csv', header=True, sep=",")
user_df = spark.read.csv('user.csv', header=True, sep=",")

In [12]:
movie_df.printSchema()
movie_df.show(5)

root
 |-- movie id: string (nullable = true)
 |-- movie title: string (nullable = true)
 |-- release date: string (nullable = true)
 |-- video release date: string (nullable = true)
 |-- IMDb URL: string (nullable = true)

+--------+-----------------+------------+------------------+--------------------+
|movie id|      movie title|release date|video release date|            IMDb URL|
+--------+-----------------+------------+------------------+--------------------+
|       1| Toy Story (1995)|   01-Jan-95|         01-Jan-95|http://us.imdb.co...|
|       2| GoldenEye (1995)|   01-Jan-95|         01-Jan-95|http://us.imdb.co...|
|       3|Four Rooms (1995)|   01-Jan-95|         01-Jan-95|http://us.imdb.co...|
|       4|Get Shorty (1995)|   01-Jan-95|         01-Jan-95|http://us.imdb.co...|
|       5|   Copycat (1995)|   01-Jan-95|         01-Jan-95|http://us.imdb.co...|
+--------+-----------------+------------+------------------+--------------------+
only showing top 5 rows

In [13]:
movie_genres_df.printSchema()
movie_genres_df.show(5)

root
 |-- mgenreId: string (nullable = true)
 |-- movieId: string (nullable = true)
 |-- genre: string (nullable = true)

+--------+-------+-------+
|mgenreId|movieId|  genre|
+--------+-------+-------+
|       1|    267|unknown|
|       2|   1373|unknown|
|       3|      2| Action|
|       4|      4| Action|
|       5|     17| Action|
+--------+-------+-------+
only showing top 5 rows

In [14]:
rating_df.printSchema()
rating_df.show(5)

root
 |-- ratingId: string (nullable = true)
 |-- userId: string (nullable = true)
 |-- movieId: string (nullable = true)
 |-- rating: string (nullable = true)
 |-- timestamp: string (nullable = true)

+--------+------+-------+------+----------------+
|ratingId|userId|movieId|rating|       timestamp|
+--------+------+-------+------+----------------+
|       1|   196|    242|     3|1997-12-04 15:55|
|       2|   186|    302|     3|1998-04-04 19:22|
|       3|    22|    377|     1| 1997-11-07 7:18|
|       4|   244|     51|     2| 1997-11-27 5:02|
|       5|   166|    346|     1| 1998-02-02 5:33|
+--------+------+-------+------+----------------+
only showing top 5 rows

In [15]:
user_df.printSchema()
user_df.show(5)

root
 |-- user id: string (nullable = true)
 |-- age: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- occupation: string (nullable = true)
 |-- zip code: string (nullable = true)

+-------+---+------+----------+--------+
|user id|age|gender|occupation|zip code|
+-------+---+------+----------+--------+
|      1| 24|     M|technician|   85711|
|      2| 53|     F|     other|   94043|
|      3| 23|     M|    writer|   32067|
|      4| 24|     M|technician|   43537|
|      5| 33|     F|     other|   15213|
+-------+---+------+----------+--------+
only showing top 5 rows